
body {

    background-image: url("https://www.omnihotels.com/-/media/images/hotels/ausctr/pool/ausctr-omni-austin-hotel-downtown-evening-pool.jpg?h=660&la=en&w=1170");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1400px 1000px;


}
	
 ul {
    list-style-type: none;
    margin: 2;
    padding: 2;
    overflow: hidden;
    background-color: #FF1493;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

footer {

    display: block;
    text-align: center;
  
}
    div{

        border: 2px;
        height: 700px;
    }
